body{

  font-family:'Merriweather', serif;

}

section{

 min-height:100vh
}

#welcome-section{

  background :url(./assets/backgrounds/h_img.jpg) center center;
  background-size: cover;
  color:white;

}


#services{

  background:url(./assets/backgrounds/s_image.jpg)  ;
  background-size:cover;
}

#portfolio-subsection img{

width:100%;

  
}

#what-we-do .description{

  display: none;
  opacity: 0;

} 

.what-we-do-icon{

  cursor: pointer;
  padding:5px;

}

#contact-us-section{

background: url(./assets/backgrounds/c_image.jpg);

}

#contact-us-section form input{

 opacity:0;
 border-color: white;
   
  }

#contact-us-section form textarea{

 opacity:0;
 border-color: white;
         
  }

  .work1{
    background-image: url(./assets/portfolio/1work4.jpg);
  }

  .work2{
    background-image: url(./assets/portfolio/2work3.jpg);

  }
  .work3{
    background-image: url(./assets/portfolio/3work2.jpg);
  }
  
  .work4{
    background-image: url(./assets/portfolio/4work1.jpg);

  }

  .work5{
    background-image: url(./assets/portfolio/5work5.jpg);

  }

  .work6{
    background-image: url(./assets/portfolio/6work6.jpg);

  }

  .work7{
    background-image: url(./assets/portfolio/7work7);

  }

  .work8{
    background-image: url(./assets/portfolio/8work8.jpg);

  }

  .workDescription{
    /* display: none; */
    /*background-color: rgba(255, 255, 255, .5);*/
    height: 100%;
  }